<div class="main_container my_accountPages">

  <app-header></app-header>
    
    <div class="my_accountSetting">
 
    
      <div class="container">
        <div class="main_dataPage">
    
          <app-chemist-account-left-panel></app-chemist-account-left-panel>
          
        
			<div class="right_pannel">
				<h1 class="page_name">
					<div class="leftData">
						<span class="Pagename">ORDER ID - 123456</span>
					</div>
				</h1>

				<div class="mainPage">
					<div class="orderDetailPage">	
						

						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<ul class="Downloadbuttons">
										<li class="list"> <a href="#0" class="primary_btn">Accept</a> </li>
										<li class="list"> <a href="#0" class="scndry_btn">Reject</a> </li>
									</ul>
								</div>
								<div class="rightPart">
									<span class="price">Rs.158</span>
    								  	<h1 class='timer' data-minutes-left=30></h1>
								</div>
							</div>

							<div class="MainOrder">
								<div class="leftPart">
									<span class="orderTime">10 Sep 2018, 02.00 PM</span>
									<span class="orderId">ORDER ID - 12345640</span>
								</div>
								<div class="rightPart">
									<span class="itemsCount">2 Hour Delivery Time</span>
									<span class="price">12 Sep 2018, 02:00 PM</span>
								</div>
							</div>

							

						</section>
						


						<table class="my_table" cellspacing="0" cellpadding="0">
							<!-- heading start here -->
								<tr>
									<tr class="row_head">
									<th class="text-left col-md-50">Items</th>
									<th class="center">MRP</th>
									<th class="center">Discount</th>
									<th class="center">QTY</th>
									<th class="center">Amount</th>
								</tr>
							<!-- heading end here -->


								<tr>
									<td class="text-left">
										<span class="name">Aspirin</span>
										<span class="data">1 Bottle of 250 Capsules</span>
										<span class="shopName">Brand Name</span>
									</td>
									<td class="center"><span class="amount">Rs. 100</span></td>
									<td class="center">
										<span class="amount">Rs. 16</span>
										<span class="caption"> <i class="green"> 5%</i></span>
									</td>
									<td class="center"><span class="amount">5</span></td>
									<td class="center">
										<span class="time">Rs. 500</span>
									</td>
								</tr>


								<tr>
									<td class="text-left">
										<span class="name">Aspirin</span>
										<span class="data">1 Bottle of 250 Capsules</span>
										<span class="shopName">Brand Name</span>
									</td>
									<td class="center"><span class="amount">Rs. 100</span></td>
									<td class="center">
										<span class="amount">Rs. 16</span>
										<span class="caption"> <i class="green"> 5%</i></span>
									</td>
									<td class="center"><span class="amount">5</span></td>
									<td class="center">
										<span class="time">Rs. 500</span>
									</td>
								</tr>

								<tr>
									<td class="text-left">
										<span class="name b">Your Total</span>
									</td>
									<td class="center">
										<span class="time b">Rs.200</span>
									</td>
									<td class="center">
										<span class="time b">Rs.32</span>
										<span class="caption"> <i class="green"> 5% Overall</i></span>
									</td>
									<td class="center">
										<span class="time b">10</span>
									</td>
									<td class="center">
										<span class="time b">Rs.1000</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="4">
										<span class="name b">Total Delivery Charges (2)</span>
									</td>
									<td class="center">
										<span class="time b">Rs.40</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="4">
										<span class="name b">Aapka Chemist Discount</span>
									</td>
									<td class="center">
										<span class="time b green">( - ) Rs.20</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="4">
										<span class="name b">Total Payable</span>
									</td>
									<td class="center">
										<span class="time b">Rs.158</span>
									</td>
								</tr>

						</table>



						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Shipping Address</span>
								</div>
							</div>
							<ul class="familyTreeListing">
								<li class="list">
									<div class="style">
										<span class="name">Pankaj Bakshi <i>(Brother)</i></span>
										<span class="age">25 Year <i>(Male)</i></span>
										<div class="Address">
											G-11, Ground Floor, Preet Vihar, <br>
											Delhi - 110091
										</div>
										<span class="Phone">+91 7838414681</span>
									</div>
								</li>
							</ul>
						</section>

					<!-- 	<section class="section">
						<div class="dealsListinset">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Best Deals</span>
								</div>
							</div>

							<ul class="QuotesLiting">
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">3/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">2/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
							</ul>
						</div>
						</section>

						<section class="section">
						<div class="dealsListinset">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">All Quotes</span>
								</div>
								<div class="rightPart">
									<span class="sortBtn">Sort</span>
								</div>
							</div>

							<ul class="QuotesLiting">
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">3/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">3/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">3/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
								<li class="list">
									<div class="style">
										<div class="leftPart">
											<span class="name">Gandhi Medicos</span>
											<div class="avail"><span class="number">3/5</span> Medicine Available</div>
										</div>
										<div class="rightPart">
											<span class="price">Rs. 535</span>
											<span class="discount">10% Discount</span>
										</div>

									</div>
								</li>
							</ul>
						</div>
						</section> -->


					</div>
				</div>

			</div>
  
    
        </div>
      </div>
    
    </div>
    
      
	</div>
	
	<app-footer></app-footer>