<div class="main_container my_accountPages user_account_page change_password">

  <app-header></app-header>

  <div class="my_accountSetting">

    <app-my-account-top-panel></app-my-account-top-panel>

    <div class="container">
      <div class="main_dataPage">

        <app-my-account-left-panel></app-my-account-left-panel>

        <div class="right_pannel">
          <div class="pannelSTyle">
           
            <div class="account_page_title">
                <div class="left_part">
                  <div class="heading">
                    <h2>Change Password</h2>
                  </div>
                </div>
                <div class="right_part">
                  
                </div>
                
              </div>
              <div class="account_content">
                  <div class="form_wrapper full_w">
                      <ul class="form_listing full_w">
                          <li class="form_list full">
                              <div class="style">
                                  <span class="lable">Current password</span>
                                  <input class="input" name="currentpass"   placeholder="" type="password"  [(ngModel)]="user.current_pass">
                              </div>
                          </li>
                          <li class="form_list  full">
                              <div class="style">
                                  <span class="lable">New password</span>
                                  <input class="input" name="newpass" placeholder="" type="password" [(ngModel)]="user.new_pass" >
                              </div>
                          </li>
                          <li class="form_list  full">
                              <div class="style">
                                  <span class="lable">Confirm password</span>
                                  <input class="input" name="confirmpass" placeholder="" type="password"  [(ngModel)]="user.confirm_pass"> 
                              </div>
                          </li>
                      </ul>
                      <div  class="btn_wrapper full_w">
                        <button class="btn primary large" (click)="onSubmit()"> Update</button>
                      </div>
                  </div>
              </div>
            <!-- <div class="mainPage">

              <div class="form_pages">
                <div class="DeliverySetupProfile">
                  <div class="fromGroup">
                    <section class="content">
                      <ul class="form_group">
                        <li class="list">
                          <div class="inputForm">
                            <label class="label">
                              <span _ngcontent-c13="" class="name">Current Password</span>
                              <input class="input_box ng-untouched ng-pristine ng-valid" type="text" id="input-1"
                                [(ngModel)]="user.current_pass" placeholder="Current Password" />
                            </label>
                          </div>

                        </li>
                        <li class="list">
                          <div class="inputForm">
                            <label class="label">
                              <span _ngcontent-c13="" class="name">New Password</span>
                              <input class="input_box ng-untouched ng-pristine ng-valid" type="password" id="input-3"
                                [(ngModel)]="user.new_pass" placeholder="New Password" />
                            </label>
                          </div>

                        </li>
                        <li class="list">
                          <div class="inputForm">
                            <label class="label">
                              <span _ngcontent-c13="" class="name">Confirm Password</span>
                              <input class="input_box ng-untouched ng-pristine ng-valid" type="password" id="input-3"
                                [(ngModel)]="user.confirm_pass" placeholder="Confirm Password" />
                            </label>
                          </div>

                        </li>

                        <li class="list" (click)="onSubmit()">

                          <input type="submit" name="" value="Update" class="primary_btn">

                        </li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>

            </div> -->

          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<app-footer></app-footer>