<app-header></app-header>

<div class="about-page bodySetting">
    

    

		<div class="new_about_us">  
			<div class="container">
				<div class="aboutus_block">
					<div class="tp-banner">
						<div class="left-sec">
						<div class="left-img">
							<div class="child-img">
							<img src="assets/images/about-us-new.png" alt="">
							</div>
						</div>
						</div>
						<div class="right-sec">
							<h3>Our Motto</h3>
							<h1>“Health for All”</h1>
							<p><span>Our aim is to provide a</span> 
							seamless experience to users and pharmacists. </p>
						</div>  
					</div>  
				</div>
			</div>
		</div>  
	
	
		<div class="how_get">
			<div class="container">
				<div class="started">
						<h1>How we got started</h1>
						<p>“AapKa Chemist” is Listing and Marketing platform for customers, chemists and distributors; initiated by AnITBrain Pvt Ltd. With massive experience in dispensing quality pharmacy products across India, we realized the challenges faced by local pharmacies. This led to the inception of a unique platform aimed at offering consumers and pharmacists with a superior interacting experience. At Aapka Chemist, you can enquire medicines availability online for yourself or your loved ones anywhere in India, at your convenience. This platform is capable of providing quick and reliable online access to medicines and healthcare products from the comfort of your home. It provides seamless integration of local pharmacies into the digital space so they get to serve a wider customer base.</p>
				</div>
			</div>
		</div>
	
	
	<div class="ceo">
			<div class="container">
				<div class="get-started">
					 
					<div class="ceo_main">
					<div class="ceo-img">
						<img src="assets/images/ceo.png">
					</div>
					<div class="right-text-ceo  ">
							<div class="top-hdn">
									<span class="getstarted"><img src="assets/images/coma.png"> What got us started</span>
										<span class="small">Small Beginning</span>
									</div> 
						<p class="scroll-section">“I started my career as a local chemist in a small neighbourhood. During this period of time, I got to experience first-hand the various struggles faced by local chemists in India. As e-pharma companies entered the market and started providing competitive pricing and delivery services, I realised that I had lost touch with my customers. I acknowledged that local chemists like myself had to change our business model with this change in the tide of time. This idea culminated in what Aapka Chemist represents today. Local pharmacies are one of the cornerstones of regional healthcare. It’s time for them to be initiated into the digital world of e-pharmacy. My vision for Aapka Chemist is such - It must fulfil the purpose of profiting local chemists using technology while ensuring that the customers get satisfactory services.”</p>
						<span class="sim">Simranjeet Singh, CEO</span>
					</div>
					</div>
				</div>
			</div>
	</div>
	
	
	
	</div>


<app-footer></app-footer>