<!-- <div class="DeliverySetupProfile">
  <div class="fromGroup">

      

          <section class="content bgcolor-1">
			<div _ngcontent-c12="" class="SectionHeading">Document Details</div>
			<ul class="form_group">
				<li class="list">
					<div class="inputForm">
						<label class="label">
							<span class="name">Bank Name</span>
							<input class="input_box ng-untouched ng-pristine ng-valid" maxlength="30" type="text" id="input-1"  [(ngModel)]="docdetail.gst_number" placeholder="Bank Name" maxlength="16"/>
							
			 
						
						</label>
						
					</div>
				</li>

          
			<li class="list">
				<div class="inputForm">
						
						<label class="label">
							<span class="name">Branch Name </span>
							<input class="input_box ng-untouched ng-pristine ng-valid" maxlength="20" type="text" id="input-1" [(ngModel)]="docdetail.pan_no" placeholder="Enter Branch Name" maxlength="10"/>
						</label>
			 
				</div>
			</li>
			
			<li class="list">
				<div class="inputForm">
					<label class="label">
						<span class="name">Account Type</span>
							<select class="select_option ng-untouched ng-pristine ng-valid"  id="input-2"  [(ngModel)]="docdetail.id_proff_name"  >
                <option>Account Type</option>
                <option>Saving Account</option>
                <option>Checking Account</option>
                <option>Money Market Account</option>
                <option>certificate Of Deposit (CD)</option>
                <option>IRA</option>
							  
							  </select>
			 
					</label>
				</div>
      </li>
      
      <li class="list">
				<div class="inputForm">
						
						<label class="label">
							<span class="name">IFSC Code</span>
							<input class="input_box ng-untouched ng-pristine ng-valid" maxlength="20" type="text" id="input-1" [(ngModel)]="docdetail.pan_no" placeholder="Enter IFSC Code" maxlength="10"/>
						</label>
		 
				</div>
      </li>
      
      <li class="list">
				<div class="inputForm">
						
						<label class="label">
							<span class="name">Account Holder Name</span>
							<input class="input_box ng-untouched ng-pristine ng-valid" maxlength="20" type="text" id="input-1" [(ngModel)]="docdetail.pan_no" placeholder="Enter Account Holder Name" maxlength="10"/>
						</label>
					 
				</div>
      </li>
      
      <li class="list">
				<div class="inputForm">
						
						<label class="label">
							<span class="name">Account Number</span>
							<input class="input_box ng-untouched ng-pristine ng-valid" maxlength="20" type="text" id="input-1" [(ngModel)]="docdetail.pan_no" placeholder="Enter Account Number" maxlength="10"/>
						</label>
					 
				</div>
			</li>
            </ul>
				
    
 
        </section>

		<span class="input input--nao" (click)="onNext()">
			<input type="submit" name="" value="Next" class="primary_btn">
		</span>


  </div>
</div>  

 -->
