<div class="main_container my_accountPages chemist_account_page">

  <app-header></app-header>
    
    <div class="my_accountSetting">
    
  
<!--   
        <app-my-account-top-panel></app-my-account-top-panel> -->
    
      <div class="container">
        <div class="main_dataPage">
    
          <app-chemist-account-left-panel></app-chemist-account-left-panel>
    
          <div class="right_pannel ">
            <span>View profile</span>
        </div>
      </div>
      
    </div>
    
      
    </div>

    
<app-footer></app-footer>