<!-- <div class="main_container my_accountPages  cartpage_1">

  <app-header></app-header>
    
    <div class="my_accountSetting">
    
    <app-my-account-top-panel></app-my-account-top-panel>
    
      <div class="container">
        <div class="main_dataPage">
    
          <app-my-account-left-panel></app-my-account-left-panel>


       
          <div class="right_pannel">

              <div class="pannelSTyle no-border">
                  <h1 class="page_name account_content">
                    <div class="leftData">
                      <span class="Pagename"> Enquiry ID - 54756867</span>
                    </div>
                  </h1>
                  <div class="account_content pt0">
                    <div class="notification_wrapper">
                      <ul class="notification_listing">
                        <li class="notification_list mb0">
                          <div class="enquiryDetail-wrapper">
                            <div class="date_wrapper">
                              <span class="date">02</span>
                              <span class="month">Dec</span>
                            </div>
                            <div class="enquiry_details">
                              <span class="enquiry_id">
                                <span class="title ">Dec 2018 </span>
                              </span>
                              <span class="enquiry_items text-theme">11:01 AM</span>
                            </div>
                            <div class="enquiry_details no-border">
                              <span class="enquiry_id"><span class="title">Home Delivery By
                                </span> </span>
                              <span class="enquiry_items text-theme"> 05 dec 2018 | 14:00 PM </span>
                            </div>
                            <div class="enquiry_details no-border text-align-right">
                              <span class="enquiry_id"><span class="title">Order Amount </span> </span>
                              <span class="text-theme enquiry_items"> Rs. 568.00</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
      
      
                </div>
      
                <div class="mainPage">
                  <div class="orderDetailPage">
      
      
                    <section class="section common-pd">
      
                      <div class="address_wrapper full_w">
                        <ul class="address_listing full_w">
                          <li class="address_list full_w">
                            <div class="left_part">
                              <div class="text-theme fontbold fontsize-17">Delivery Address</div>
                              <div class="name_wrapper mb5 mt10">
                                <span class="name">Manish Kumar <span class="gender">(self)</span></span>
                              </div>
      
                              <div class="address_wrapper full_w">
                                <span class="address d-text-block">K-368,</span>
                                <span class="address d-text-block">300-400 Gali no. Jahangir puri, </span>
                                <span class="address d-text-block"> delhi 110033</span>
      
      
                              </div>
                              <div class="number mt10 f-left pt0">
                                <span class="fontbold">+91 - 7838414681</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
    
      
                    </section>
      
      
                    <section class="section table_wrapper common-pd cart_details">
                        <div class="rate_quantity-block left_section">
                          <ul class="rate_quantity-listing  cart_dtails_wrapper">
                            <li>
                              <div class="d-text-flex justify-content-btw product_details_wrapper align-content-center">
                                <div class="med-details mrgn0">
                                  <div class="text-black fontbold">YAMINI</div>
                                  <div class="text-grey ">kit of 24 Tablet</div>
                                  <div class="text-theme fontbold">MRP Rs.30 X 20</div>
                                </div>
                                <div class="product_qty mrgn0">
                                  <div class="qty_wrappe">
                                    <div class="qtyController">
                                      <div class="minus" (click)="udpateCart(cart,'-')">
                                        <img alt="" src="assets/images/icon/qty_minus.png">
                                      </div>
                                      <div class="qty">
                                        <input name="" readonly="" type="text" value="2">
                                      </div>
                                      <div class="plus" (click)="udpateCart(cart,'+')">
                                        <img alt="" src="assets/images/icon/qty_plus.png">
                                      </div>
        
                                    </div>
                                  </div>
                                </div>
                                <div class="med-rating mrgn0 text-align-right">
                                  <div class="text-black fontbold">Rs. 126</div>
                                  <div class="text-grey"><del>Rs. 150</del></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="d-text-flex justify-content-btw product_details_wrapper align-content-center">
                                <div class="med-details mrgn0">
                                  <div class="text-black fontbold">YAMINI</div>
                                  <div class="text-grey ">kit of 24 Tablet</div>
                                  <div class="text-theme fontbold">MRP Rs.30 X 20</div>
                                </div>
                                <div class="product_qty mrgn0">
                                  <div class="qty_wrappe">
                                    <div class="qtyController">
                                      <div class="minus" (click)="udpateCart(cart,'-')">
                                        <img alt="" src="assets/images/icon/qty_minus.png">
                                      </div>
                                      <div class="qty">
                                        <input name="" readonly="" type="text" value="2">
                                      </div>
                                      <div class="plus" (click)="udpateCart(cart,'+')">
                                        <img alt="" src="assets/images/icon/qty_plus.png">
                                      </div>
        
                                    </div>
                                  </div>
                                </div>
                                <div class="med-rating mrgn0 text-align-right">
                                  <div class="text-black fontbold">Rs. 126</div>
                                  <div class="text-grey"><del>Rs. 150</del></div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="d-text-flex justify-content-btw product_details_wrapper align-content-center">
                                <div class="med-details mrgn0">
                                  <div class="text-black fontbold">YAMINI</div>
                                  <div class="text-grey ">kit of 24 Tablet</div>
                                  <div class="text-theme fontbold">MRP Rs.30 X 20</div>
                                </div>
                                <div class="product_qty mrgn0">
                                  <div class="qty_wrappe">
                                    <div class="qtyController">
                                      <div class="minus" (click)="udpateCart(cart,'-')">
                                        <img alt="" src="assets/images/icon/qty_minus.png">
                                      </div>
                                      <div class="qty">
                                        <input name="" readonly="" type="text" value="2">
                                      </div>
                                      <div class="plus" (click)="udpateCart(cart,'+')">
                                        <img alt="" src="assets/images/icon/qty_plus.png">
                                      </div>
        
                                    </div>
                                  </div>
                                </div>
                                <div class="med-rating mrgn0 text-align-right">
                                  <div class="text-black fontbold">Rs. 126</div>
                                  <div class="text-grey"><del>Rs. 150</del></div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="right_section total_amount-section clearfix">
                        <div class="section_2">
                            <div class="estimate_details">
                              <div class="left_part">
                                <span class="estimate_title">Subtotal</span>
                              </div>
                              <div class="right_part">
                                <span class="price">Rs. 560</span>
                              </div>
                            </div>
                
                              <div class="estimate_details">
                                <div class="left_part">
                                  <span class="estimate_title">APC Discount</span>
                                </div>
                                <div class="right_part">
                                  <span class="price text-theme">-Rs. 25.00</span>
                                </div>
                              </div>
                
                              <div class="estimate_details">
                                <div class="left_part">
                                  <span class="estimate_title">Delivery Charges</span>
                                </div>
                                <div class="right_part">
                                  <span class="price">Rs. 00</span>
                                </div>
                              </div>
                
                              <div class="estimate_details">
                                <div class="left_part">
                                  <span class="estimate_title">Coupon Applied</span>
                                </div>
                                <div class="right_part">
                                  <span class="price">(CJM250) - <span class="text-red"> 250.00 </span> </span>
                                </div>
                              </div>
                
                              <div class="estimate_details total_amount">
                                <div class="left_part">
                                  <span class="estimate_title text-black">Amount to collect - <span class="text-theme">Cash </span></span>
                                </div>
                                <div class="right_part">
                                  <span class="price">Rs. 500</span>
                                </div>
                              </div>
                              <div class="chem-enquiry_wrapper full-w">
                                <button class="btn assent medium">SEND QUOTATION</button>
                              </div>
                          </div>
                        </div>
      
        
                        <div class="send_quotation_btn_wrapper">
                          <a *ngIf="enquiry.enquiry_detail.reply_status==0 && enquiry.enquiry_detail.bid_made==1"
                            (click)="onSubmitQuotation()" href="javascript:void(0)"
                            class="DetailShowBtn reorderBtn margin-top-10px" href="javascript:void(0)">Send
                            Quotation</a>
                        </div>
                      </section>
                  
      
      
      
      
      
                  </div>
                </div>


      
            </div>
    
        </div>  
      </div>
    
    </div>
    
      
    </div>

    <app-footer></app-footer> -->