  <!-- headpart start here-->
  <div class="headPart" *ngIf="isshow">
    <div class="container">
      <div class="insideDesign">
        <div class="left_part">
          <span class="thumb"><img src="assets/images/user.png"></span>

        </div>
        <div class="right_part">
          <div class="left_details">
            <span class="yourname">Manish Gupta</span>
            <span class="emailMobile">+91 7838414681</span>
            <div class="locationDiv">
              <span class="label">Location</span>
              G-11, Preet Vihar, East Delhi, 110092
            </div>
          </div>
          <!-- <a href="javascript:void(0)" routerLink="/my-account/update-profile" class="edit_profileBTN">Edit Profile</a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- headpart end here-->