<!-- <div class="main_container my_accountPages">

    <div class="mapLocationSet">
      <div class="designBox">
        <div class="vAlign">
          <div class="insideDesign">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.5253692592964!2d77.18521631464453!3d28.643983982413243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0298af7e8eed%3A0x8ef058763b1998c6!2sKarol+Bagh+Metro+Station!5e0!3m2!1sen!2sin!4v1540816885957" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            <ul class="buttons">
              <li class="list" ><a href="javascript:void(0)" (click)="toggleMapView()" class="CancelBtn">Cancel</a></li>
              <li class="list"><a href="javascript:void(0)" class="LocationBtn">Pick Location</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    
    <app-header></app-header>
      
      <div class="my_accountSetting">
      
      <app-my-account-top-panel></app-my-account-top-panel>
      
        <div class="container">
          <div class="main_dataPage">
      
            <app-my-account-left-panel></app-my-account-left-panel>
              
  
            <div class="right_pannel">
              <h1 class="page_name">
                  <div class="leftData">
                      <span class="Pagename">Add Member</span>
                  </div>
              </h1>
  
              <div class="mainPage">
                  
                  <div class="form_pages">             
                        <section class="content bgcolor-1">
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-1" [(ngModel)]="address.full_name"/>
                              <label class="input__label input__label--nao" for="input-1">
                                  <span class="input__label-content input__label-content--nao">Member Name</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <select class="input__field input__field--nao"  id="input-2" [(ngModel)]="address.relation_id" >
                                  <option></option>
                                  <option *ngFor="let relation of relations">
                                      {{relation.parameter_name}}
                                  </option>
                                 
                              </select>
                              <label class="input__label input__label--nao" for="input-2">
                                  <span class="input__label-content input__label-content--nao">Select Relation in</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
  
                          <span class="input input--nao">
                              
                              <label class="Vradio_btn">Male
                                <input type="radio" checked="checked" name="radio" value="0" [(ngModel)]="address.gender">
                                <span class="checkmark"></span>
                              </label>
                              <label class="Vradio_btn">Female
                                <input type="radio" name="radio" value="1"  [(ngModel)]="address.gender">
                                <span class="checkmark"></span>
                              </label>
                              <label class="Vradio_btn">Other
                                <input type="radio" name="radio" value="2" [(ngModel)]="address.gender">
                                <span class="checkmark"></span>
                              </label>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3"  [(ngModel)]="address.mobile"/>
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Mobile</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3" placeholder="" />
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Date of Birth</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
  
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-2"  [(ngModel)]="address.state" />
                              <label class="input__label input__label--nao" for="input-2">
                                  <span class="input__label-content input__label-content--nao">State</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <a href="javascript:void(0)" (click)="toggleMapView()"  class="locationPopuptrigger">Add Location in Map View</a>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3"  [(ngModel)]="address.city"  />
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">City</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3" [(ngModel)]="address.address"/>
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Address</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3" />
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Area</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3"  [(ngModel)]="address.landmark" />
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Locality / Landmark</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <input class="input__field input__field--nao" type="text" id="input-3"  [(ngModel)]="address.pincode" />
                              <label class="input__label input__label--nao" for="input-3">
                                  <span class="input__label-content input__label-content--nao">Pincode</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                          <span class="input input--nao">
                              <label class="Vradio_btn">Home
                                <input type="radio"   name="radio" value="0" [(ngModel)]="address.address_type">
                                <span class="checkmark"></span>
                              </label>
                              <label class="Vradio_btn">Office
                                <input type="radio" name="radio" value="1" [(ngModel)]="address.address_type">
                                <span class="checkmark"></span>
                              </label>
                              <label class="Vradio_btn" id="OtherBtn">Other
                                <input type="radio" name="radio"  value="2" [(ngModel)]="address.address_type">
                                <span class="checkmark"></span>
                              </label>
                          </span>
                          <span class="input input--nao" id="otherFieldOpen">
                              <input class="input__field input__field--nao" type="text" id="input-4" />
                              <label class="input__label input__label--nao" for="input-4">
                                  <span class="input__label-content input__label-content--nao">Other</span>
                              </label>
                              <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                                  <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                              </svg>
                          </span>
                      </section>
  
  
  
                          <span class="input input--nao">
                              <input type="submit" name="" value="Add Member" class="primary_btn"  (click)="onSubmit()">
                          </span>
                  </div>
  
              </div>
  
          </div>
  
 
          </div>
        </div>
      
      </div>
      
        
      </div>
  
   -->