<app-header></app-header>
<div class="navigation_wrapper">
    <div class="container">
        <ul class="menus">
            <li class="menu_list" *ngFor="let category of categories">
                <a href="javascript:void(0)">
                    <span class="icon">
                        <img _ngcontent-c2="" src="{{category.image_url}}" alt="Medicine">
                    </span>{{category.name}}
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="bodySetting siteMap_page">
    <div class="container">
        <div class="site_mape_wrapper full_w">
            <div class="cat_list-wrapper full_w">
                <ul class="map_listing full_w" *ngFor="let category of categories">
                    <h2 class="map-heading"><img src="{{category.image_url}}" alt="ayurvedic"> {{category.name}}</h2>
                    <div class="map_list-block">
                        <li class="map_list" *ngFor="let children of category.children"><a href="javascript:void(0)"
                            routerLink="/medicine-listing/{{children.seo_url}}" class="link"> {{children.name}}</a></li>
                        </div>
                </ul>
            </div>
        </div>
    </div>





</div>

<app-footer></app-footer>