<form  name="payuForm" id="payuForm" action="" method="post" style="display:none">

  <input  id="CHANNEL_ID" name="CHANNEL_ID" class="input-box" type="text"  [(ngModel)]="pay_model.CHANNEL_ID">
  <input id="CUST_ID" class="input-box"  name="CUST_ID"  type="text"   [(ngModel)]="pay_model.CUST_ID" >
  <!-- <input  class="input-box" name="MOBILE_NO"  type="text"   [(ngModel)]="pay_model.MOBILE_NO" > -->
  <input  id="INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" class="input-box"  [(ngModel)]="pay_model.INDUSTRY_TYPE_ID"  type="text" >
  <input id="MID" class="input-box" name="MID" type="text"    [(ngModel)]="pay_model.MID">
  <input id="ORDER_ID" class="input-box" name="ORDER_ID"  type="text"   [(ngModel)]="pay_model.ORDER_ID" >
  <input id="TXN_AMOUNT" class="input-box"  name="TXN_AMOUNT"  type="text"  [(ngModel)]="pay_model.TXN_AMOUNT" >
  <input id="WEBSITE" class="input-box"  name="WEBSITE"  type="text"  [(ngModel)]="pay_model.WEBSITE" >
  <input  id="CALLBACK_URL" class="input-box" name="CALLBACK_URL" type="text"    [(ngModel)]="pay_model.CALLBACK_URL">
  <input id="CHECKSUMHASH"  class="input-box"  name="CHECKSUMHASH"  type="text"  [(ngModel)]="pay_model.CHECKSUMHASH" >
  

</form>