<div class="main_container my_accountPages">

  <app-header></app-header>
    
    <div class="my_accountSetting">
    
    <app-my-account-top-panel></app-my-account-top-panel>
    
      <div class="container">
        <div class="main_dataPage">
    
          <app-my-account-left-panel></app-my-account-left-panel>


       
			<div class="right_pannel">
				<h1 class="page_name">
					<div class="leftData">
						<span class="Pagename">Enquiry ID - 12345640</span>
					</div>
					<div class="rightData">
						<div class="CheckoutDiv">
							<a href="#0" class="checkOutbtn">
								<span class="Amount">Rs. 1270</span>
								<span class="title">Checkout</span>
							</a>
						</div>
					</div>
				</h1>

				<div class="mainPage">
					<div class="orderDetailPage">	
						
						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Delivery Address</span>
								</div>
								<div class="rightPart">
									<span class="sortBtn">Change</span>
								</div>
							</div>
							<ul class="familyTreeListing">
								<li class="list">
									<div class="style"><!-- 
										<span class="name">Pankaj Bakshi <i>(Brother)</i></span>
										<span class="age">25 Year <i>(Male)</i></span> -->
										<div class="Address">
											G-11, Ground Floor, Preet Vihar, <br>
											Delhi - 110091
										</div><!-- 
										<span class="Phone">+91 7838414681</span> -->
									</div>
								</li>
							</ul>
						</section>

						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Gandhi Medicos</span>
								</div>
								<div class="rightPart">
									<span class="price">2.00 KM</span>
								</div>
							</div>

							<div class="MainOrder">
								<div class="leftPart">
									<span class="orderTime">10 Sep 2018, 02.00 PM</span>
									<span class="orderId">Enquiry ID - 12345640</span>
								</div>
								<div class="rightPart">
									<span class="itemsCount">2 Hour Delivery Time</span>
									<span class="price green">10% Discount</span>
								</div>
							</div>

							<div class="youSave">You Save <span class="red">Rs. 199</span></div>


						</section>
			<!-- 			
						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Payment Mode</span>
								</div>
								<div class="rightPart">
									<span class="sortBtn">Change</span>
								</div>
							</div>
							<ul class="familyTreeListing">
								<li class="list">
									<div class="style">
										<div class="Address">
											Cash on Delivery
										</div>
									</div>
								</li>
							</ul>
						</section> -->


						
						<table class="my_table" cellspacing="0" cellpadding="0">
							<!-- heading start here -->
								<tr>
									<tr class="row_head">
									<th class="text-left col-md-50">Items</th>
									<th class="center">Units</th>
									<th class="center">Amount</th>
								</tr>
							<!-- heading end here -->


								<tr>
									<td class="text-left">
										<span class="name">Aspirin</span>
										<span class="data">1 Bottle of 250 Capsules</span>
									</td>
									<td class="center"><span class="amount">5</span></td>
									<td class="center">
										<span class="time">Rs. 150</span>
									</td>
								</tr>

								<tr>
									<td class="text-left">
										<span class="name">Aspirin</span>
										<span class="data">1 Bottle of 250 Capsules</span>
									</td>
									<td class="center"><span class="amount">5</span></td>
									<td class="center">
										<span class="time">Rs. 150</span>
									</td>
								</tr>

								<tr>
									<td class="text-left">
										<span class="name">Aspirin</span>
										<span class="data">1 Bottle of 250 Capsules</span>
									</td>
									<td class="center"><span class="amount">5</span></td>
									<td class="center">
										<span class="time red">Not Available</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="2">
										<span class="name b">Sub Total</span>
									</td>
									<td class="center">
										<span class="time b">Rs.178</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="2">
										<span class="name b">G.S.T</span>
									</td>
									<td class="center">
										<span class="time b">Rs.178</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="2">
										<span class="name b">Delivery Charges (2)</span>
									</td>
									<td class="center">
										<span class="time b">Rs.40</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="2">
										<span class="name b">Discount Applied</span>
									</td>
									<td class="center">
										<span class="time b green">( - ) Rs.20</span>
									</td>
								</tr>

								<tr>
									<td class="text-left" colspan="2">
										<span class="name b">Total Payable</span>
									</td>
									<td class="center">
										<span class="time b">Rs.158</span>
									</td>
								</tr>

						</table>
						
						<section class="section">
							<div class="headingPart">
								<div class="leftPart">
									<span class="name">Payment Mode</span>
								</div>
								<div class="rightPart">
									<span class="sortBtn">Change</span>
								</div>
							</div>
							<ul class="familyTreeListing">
								<li class="list">
									<div class="style"><!-- 
										<span class="name">Pankaj Bakshi <i>(Brother)</i></span>
										<span class="age">25 Year <i>(Male)</i></span> -->
										<div class="Address">
											Cash on Delivery
										</div><!-- 
										<span class="Phone">+91 7838414681</span> -->
									</div>
								</li>
							</ul>
						</section>


					</div>
				</div>

			</div>

    
        </div>  
      </div>
    
    </div>
    
      
	</div>
	
	<app-footer></app-footer>