<div class="main_container my_accountPages my_wallet_page apcCash">

  <div class="AddMoneyPopup">
    <div class="designBox">
      <div class="vAlign">
        <div class="insideDesign">

          <div class="heading">
            <h2>Add APC Cash</h2>
          </div>

          <div class="fromGroup">
            <p class="caption">APC Cash can be used for online orders only</p>
            <div class="add_amount form_wrapper full_w">
              <ul class="form_listing full_w">
                <li class="form_list  full_w">

                  <!-- <div class="input_wrapper">
                                  <label class="label">Add Money</label>
                                  <input class="input_box" type="text" [(ngModel)]="wallet.added_amt">
                              </div> -->
                  <div class="style">
                    <span class="lable">APC Cash</span>
                    <input class="input ng-pristine ng-valid ng-touched" placeholder="" type="text"
                      [(ngModel)]="wallet.added_amt">
                  </div>
                </li>
                <li class="form_list full_w">
                  <button class="btn primary large" (click)="onAddingMoneyHandler()">Add Cash</button>
                  <button class="btn secondary large" (click)="togglePopup()">Cancel</button>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <app-header #child></app-header>

  <div class="my_accountSetting">
    <!-- <div class="sending_enquiry_popup" *ngIf="payment.status!=undefined && payment.status=='success'">
      <div class="enquiry_popup_msg">
        <div class="sending_msg_gif">
          <img src="assets/images/form_icon.png">

        </div>
        <div class="sending_msg_content">

          <span> Amount added to your wallet</span>
        </div>
        <ul class="noCartbuttons">
          <li class="list" (click)="onClosePaymentPopup()"><a _ngcontent-c2="" class="scndry_btn"
              href="javascript:void(0)">Close</a></li>

        </ul>
      </div>
    </div>

    <div class="sending_enquiry_popup" *ngIf="payment.status!=undefined && payment.status=='failure'">
      <div class="enquiry_popup_msg">
        <div class="sending_msg_gif">
          <img src="assets/images/error.png">

        </div>
        <div class="sending_msg_content">

          <span>Transaction Failed</span>
        </div>
        <ul class="noCartbuttons">
          <li class="list" (click)="onClosePaymentPopup()"><a _ngcontent-c2="" class="scndry_btn"
              href="javascript:void(0)">Close</a></li>

        </ul>
      </div>
    </div> -->
    <app-popup #popupchild (onPopupActionPerformed)="onPopupActionReceived($event)"></app-popup>

    <div class="container">
      <div class="main_dataPage">

        <app-chemist-account-left-panel></app-chemist-account-left-panel>

        <div class="right_pannel">
          <div class="pannelSTyle">





            <!-- <h1 class="page_name">
                <div class="leftData">
                  <span class="Pagename">APC Cash</span>
                </div>
              </h1>
      
              <div class="mainPage">
                <div class="MywalletPage">
      
                 
                  <div class="AddingOption">
                    <div class="leftPart">
                      <span class="Label">Balance</span>
                      <span class="Amount">Rs. {{wallet.balance}}</span>
                    </div>
                    <div class="rightPart">
                      <a href="javascript:void(0)"  (click)="togglePopup()" class="AddBTN primary_btn">APC Cash</a>
                    </div> 
                  </div>
                 
                  <ul class="walletList"  >
                    <li class="list" *ngFor="let list of wallet.lists">
                      <div class="style">
                        <div class="leftPart">
                          <span class="title">Wallet TXN Id : {{list.transaction_number}}</span>
                          <span class="msg">{{list.transaction_msg}}</span>
                          <span class="date">{{list.transaction_date | date:'dd-MM-yyyy'}}  {{list.transaction_date | date:'hh:mm a'}} </span>
                        </div>
                        <div class="rightPart">
                          <span class="price cr" *ngIf="list.credit_amount !=0">+ Rs. {{list.credit_amount}}</span>
                          <span class="price"  *ngIf="list.debit_amount !=0">- Rs. {{list.debit_amount}}</span>
                        </div>
                      </div>
                    </li>
                 
                  </ul>
      
                </div>
              </div> -->

            <div class="account_page_title">
              <div class="left_part">
                <div class="heading">
                  <h2>APC Cash</h2>
                </div>
              </div>
              <div class="right_part">

              </div>

            </div>
            <div class="account_content">
              <!-- <div class="btn_wrapper">
                      <button class="btn assent large"  (click)="togglePopup()">Add Cash</button>
                    </div> -->

              <div class="total_amount_wrapper">
                <div class="left_part">
                  <button class="btn assent large" (click)="togglePopup()">Add APC Cash</button>
                  <!-- <h5>APC Cash can be used for online orders only</h5> -->
                </div>
                <div class="right_part">
                  <div class="total_amount">
                    <span class="title">Total Amount</span>
                    <span class="amount">Rs. {{wallet.balance}}</span>
                  </div>
                </div>
              </div>


              <div class="notification_wrapper">
                  <ul class="notification_listing raised_payment" *ngIf="wallet.payment_history_status==1">
                      <li class="notification_list">
                          
                            <div class="enquiry_details">
                                
                                <span class="enquiry_items">{{wallet.payment_history.txn_message}}</span>
                              </div>
                              <div class="view_more_wrapper">
                                  
                                  <span class="price text-red">Debit
                                    <span class="added_amount"> Rs. {{wallet.payment_history.payment_amount}}</span>
                                  </span>
                                  
            
                                 
                                </div>
                      </li>
                    </ul>
                <div class="notification_date"><span>2019</span></div>
                <ul class="notification_listing">
                  <li class="notification_list" *ngFor="let list of wallet.lists">
                    <div class="date_wrapper">
                      <span class="date">{{list.transaction_date | date:'dd'}}</span>
                      <span class="month">{{list.transaction_date | date:'MMM'}} </span>
                    </div>
                    <div class="enquiry_details">
                      <span class="enquiry_id"><span class="title">TXN ID: #{{list.transaction_number}}</span> </span>
                      <span class="enquiry_items">{{list.transaction_msg}}</span>
                    </div>
                    <div class="view_more_wrapper">
                      <!-- <span class="cr"  *ngIf="list.credit_amount !=0">
                              <span class="text_green">Added</span>
                              <span class="added_amount">Rs. {{list.credit_amount}}</span>
                          </span>
                         <span *ngIf="list.debit_amount !=0">
                            <span>Deducted</span>>
                            <span class="price" >- Rs. {{list.debit_amount}}</span>
                         </span> -->

                      <span class="price text_green" *ngIf="list.credit_amount !=0">Added
                        <span class="added_amount"> Rs. {{list.credit_amount}}</span>
                      </span>
                      <span class="price text-red" *ngIf="list.debit_amount !=0"> Debit
                        <span class="added_amount"> Rs. {{list.debit_amount}}</span>

                      </span>

                      <!-- <span class="price cr text_green" *ngIf="list.debit_amount !=0">Added  <span  class="added_amount">+ Rs. {{list.credit_amount}}</span></span>
                         <span class="price deb"  *ngIf="list.credit_amount !=0">Used<span  class="debit_amount">- Rs. {{list.debit_amount}}</span></span> -->


                    </div>
                  </li>
                </ul>
              </div>

              <!-- <div class="notification_wrapper">
                      <div class="notification_date"><span>2018</span></div>
                      <ul class="notification_listing">
                          <li class="notification_list">
                              <div class="date_wrapper">
                                <span class="date">02</span>
                                <span class="month">Dec</span>
                              </div>
                              <div class="enquiry_details">
                                <span class="enquiry_id"><span class="title">TEXT ID: 58105784</span> </span>
                                <span class="enquiry_items">APC Cash for purchasing plan</span>
                              </div>
                              <div class="view_more_wrapper">
                                <span class="text_green">Added</span>
                                <span class="added_amount">Rs. 1000</span>
                              </div>
                            </li>
                            <li class="notification_list">
                                <div class="date_wrapper">
                                  <span class="date">02</span>
                                  <span class="month">Dec</span>
                                </div>
                                <div class="enquiry_details">
                                  <span class="enquiry_id"><span class="title">TEXT ID: 58105784</span> </span>
                                  <span class="enquiry_items">APC Cash for purchasing plan</span>
                                </div>
                                <div class="view_more_wrapper">
                                  <span class="text_green">Added</span>
                                  <span class="added_amount">Rs. 1000</span>
                                </div>
                              </li>
                              <li class="notification_list">
                                  <div class="date_wrapper">
                                    <span class="date">02</span>
                                    <span class="month">Dec</span>
                                  </div>
                                  <div class="enquiry_details">
                                    <span class="enquiry_id"><span class="title">TEXT ID: 58105784</span> </span>
                                    <span class="enquiry_items">APC Cash for purchasing plan</span>
                                  </div>
                                  <div class="view_more_wrapper">
                                    <span class="text_green">Added</span>
                                    <span class="added_amount">Rs. 1000</span>
                                  </div>
                                </li>
                      </ul>
                    </div> -->
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <app-paytm-gateway *ngIf="wallet.is_pay_model_set" [pay_model]="payu_model"></app-paytm-gateway>

</div>


<app-footer></app-footer>