<div class="pagesNamePart">
  <div class="container">
    <div class="headPart">
      <h1 class="pageName">Cart Page</h1>
      <ul class="breadCrubs">
        <li class="list"><a routerLink="/home" href="javascript:void(0)" class="link">Home</a> <i _ngcontent-c2="" aria-hidden="true" class="fa fa-angle-right"></i></li>
 
        <!-- <li class="list"><a routerLink="/medicine-listing" href="javascript:void(0)" class="link">Listing</a> <i _ngcontent-c2="" aria-hidden="true" class="fa fa-angle-right"></i></li> -->
        <li class="list"><span class="current">List</span></li>
      </ul>
    </div>
  </div>
</div>