<app-header  ></app-header>

<div class="faq_page bodySetting static_page"> 
    <div class="quick_link_tabs">
        <div class="container">
          <ul class="quicklinkTab_listig">
            <li class="list"><a href="javascipt:void(0)" routerLink="/privacy-policy">Privacy Policy</a></li>
            <li class="list"><a href="javascipt:void(0)" routerLink="/terms-conditions">Terms and Conditions</a></li>
            <li class="list active"><a href="javascipt:void(0)" routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
      </div>

      <div class="container">

        <section class="section_1">
          <div class="content">
            <div class="staticPageHead">
                FAQs
              </div>

              <p>At Aapka Chemist, we aim to provide a flawless customer experience to all our customers. To help
                  guide you through your online shopping with us, we have compiled a list of frequently asked
                  questions and provided answers below. If you don’t find your question, you are always welcome to
                  contact us and we will get back to you as soon as possible.</p>

              <h2>General Questions</h2>

              <h3 class="faq-qus">Q.1 Can I know whether your Pharmacy is licensed?</h3> 

              <p class="faq-ans">We provide services from licensed pharmacies near your area. We do not function as a pharmacy.
                  Rather we act as pharmaceutical distribution network service.</p>

                  <h3 class="faq-qus">Q.2 What are your hours of operation?</h3> 
                  <p class="faq-ans">Our online services are available 24/7. The delivery and return services are provided according to the
                      concerned pharmacies.</p>


                      <h3 class="faq-qus">Q.3 What is your office address and phone number?</h3>

                      <p class="faq-ans">Contact us at 08858688586</p>
                  <h3 class="faq-qus">Q.4 How do I contact Pharmacists using Aapka Chemist?</h3>


                  <p class="faq-ans">You can contact the Pharmacists listed on Aapka Chemist by clicking on the view details button
                      present at the bottom left of each Pharmacist profile.</p>

                <h3  class="faq-qus">Q.5 How can I save more using Aapka Chemist?</h3>
                <p class="faq-ans">Aapka Chemist offers combined discounts from nearby pharmacies.</p>

                <h3 class="faq-qus">Q.6 What are Aapka Chemist&#39;s Privacy and Security Policies?</h3>
                <p class="faq-ans">Our Privacy -<a href=" https://www.aapkachemist.com/privacy-policy"> Click here </a>to know more</p>

                <h3 class="faq-qus">Q.7 What is Aapka Chemist’s return and refund policy?</h3>
                <p class="faq-ans">Returns and Refund Policy -<a href=" https://www.aapkachemist.com/privacy-policy"> Click here </a></p>

                <h3 class="faq-qus">Q.8 Why is the image shown on the website different from the item I received?</h3>
                <p class="faq-ans">Although we make every effort to ensure product images on our website are identical to the item
                    you receive, occasionally actual product colour may vary from the image shown. We cannot
                    guarantee the accurate representation of the product because not all computer monitors may have
                    the same colour settings. Please note that product image on our site is for illustrative purpose only.</p>

                <h2>Medicine Questions</h2>
                <h3 class="faq-qus">Q.1 Are medications available at Aapka Chemist safe?</h3>
                <p class="faq-ans">Yes. All medications provided by Aapka Chemist are sourced from licenced and certified pharmacies.</p>

                <h3 class="faq-qus">Q.2 What is the meaning of Generic Drugs?</h3>
                <p class="faq-ans">Generic Drugs, are drugs that which can be marketed without brand names. These durgs are
                    considered identical as their brand-name counterparts in all respects such as strength, dose, active
                    ingredients, intended use, route of administration, efficacy, bioavailability and safety. As required by
                    the CDSCO, India’s regulatory body for pharmaceuticals, Generics must meet the same rigid
                    standards as set for brand-name counterparts.</p>
                
                
              <h3 class="faq-qus">Q.3 Is it safe to use Generic Drugs?</h3>
              <h2>Ordering Questions</h2>

              <h3 class="faq-qus">Q. What if I can’t find the products/medications I am looking for in your website?</h3>
              <h3 class="faq-qus">Q. Is it possible to buy more than one medication in a single order at Aapka Chemist?</h3>
              <h3 class="faq-qus">Q. Are all your product prices quoted in Indian Rupees?</h3>
              <h3 class="faq-qus">Q. How is my order packaged?</h3>
              <h3 class="faq-qus">Q. Are there any other hidden charges?</h3>
              <h3 class="faq-qus">Q. Does Aapka Chemist charge any professional fees on prescription drug orders?</h3>
              <h3 class="faq-qus">Q. What if I am charged more than the actual price of my prescription drugs?</h3>

              <h2>Delivery Questions</h2>
              <h3 class="faq-qus">Q. How long will it take to deliver my order?</h3>
              <h3 class="faq-qus">Q. What are your delivery charges?</h3>

              <p class="faq-ans">Aapka Chemist does not levy any charges for delivery. Transactions are the sole responsibility of the
                  pharmacy delivering the medicine.</p>

              <h3 class="faq-qus">Q. How will I know the status of my order?</h3>
              <h3 class="faq-qus">Q. How do I cancel my order?</h3>
              <h3 class="faq-qus">Q. Is it possible to cancel my order after it has been charged?</h3>
              <h3 class="faq-qus">Q. Can I change my delivery address after I have placed my order?</h3>
              <h3 class="faq-qus">Q. How is my order packaged?</h3>
              <h3 class="faq-qus">Q. How will my order be delivered?</h3>
            </div>
        </section>
      </div>


</div>
 
<app-footer></app-footer>