<div class="profileStepsMeter">
  <ul class="meterBar">
    <li class="list active">
      <a href="#0" class="link">
        <span class="title">Step 1</span>
        <span class="data">Business Details </span>
      </a>
    </li>
    <li class="list ">
      <a href="#0" class="link">
        <span class="title">Step 2</span>
        <span class="data">Business Timings</span>
      </a>
    </li>
    <li class="list ">
      <a href="#0" class="link">
        <span class="title">Step 3</span>
        <span class="data">Registration Number</span>
      </a>
    </li>
    <li class="list">
      <a href="#0" class="link">
        <span class="title">Step 4</span>
        <span class="data">Document Details </span>
      </a>
    </li>
    <li class="list">
      <a href="#0" class="link">
        <span class="title">Step 5</span>
        <span class="data">Delivery Details </span>
      </a>
    </li>
    <li class="list">
        <a href="#0" class="link">
          <span class="title">Step 6</span>
          <span class="data">Delivery Details </span>
        </a>
      </li>
      <li class="list active">
          <a href="#0" class="link">
            <span class="title">Step 7</span>
            <span class="data">Map Category</span>
          </a>
        </li>
  </ul>
</div>           
        
